:host {

}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  margin: 50px auto;
  overflow-y: auto;

  .list {
    flex: 20;
    height: 100%;
  }

  .viewer {
    flex: 80;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
  }
}
